<header id="main-header">
  <div id="header-row">
    <div class="row">
      <button id="menu-btn" @click="toggleMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <p><%= locals.isAdmin ? 'Admin' : 'Pegawai' %></p>
    </div>

    <div id="realtime-clock">
      <p></p>
    </div>

    <a href="/logout">Logout</a>
  </div>

  <nav>
    <ul>
      <% if (locals.isAdmin) {%>
      <li><a href="/home">Home</a></li>
      <li><a href="/admin/kelola-akun">Kelola Akun User</a></li>
      <li><a href="/admin/kelola-produk">Kelola Produk</a></li>
      <li>
        <a href="/admin/kelola-transaksi-pembelian">Kelola Transaksi Beli</a>
      </li>
      <% } %> <% if (!locals.isAdmin) {%>
      <li>
        <a href="/admin/kelola-transaksi-penjualan">Kelola Transaksi Jual</a>
      </li>
      <% }%> <% if (locals.isAdmin) {%>
      <li>
        <a href="/admin/permintaan-void">Permintaan Void Transaksi Jual</a>
      </li>
      <li><a href="/admin/laporan">Laporan</a></li>
      <% } %>
    </ul>
  </nav>
</header>
