#list-product-sale {
  list-style: disc;
  padding-left: var(--space-8);
  margin-bottom: 2rem;
}

.main-kelola {
  width: 90%;
}

main p {
  font-size: 1.4rem;
}

.btn {
  display: block;
  text-align: center;
}

#tambah-penjualan-btn {
  display: inline-block;
  width: auto;
  margin-bottom: 20px;
}

.sale-fields {
  font-weight: 800;
}

.modal .dialog {
  padding: 10px;
  height: auto;
}
