<%- include('../../shared/includes/head', {title: 'Tambah Produk' }) %>
  <link rel="stylesheet" href="/styles/login.css" />
  <link rel="stylesheet" href="/styles/image-preview.css">

  <script src="https://unpkg.com/vue@3"></script>
  <script src="/scripts/sidebar-menu.js" defer></script>
  <script src="/scripts/kelola-produk.js" defer></script>
  </head>

  <body>
    <%- include('../../shared/includes/header') %>
      <h1>Tambah Produk</h1>
      <main>
        <form action="/admin/kelola-produk/tambah" method="POST" enctype="multipart/form-data">
          <div>
            <label for="name">Nama Produk</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div>
            <label for="price">Harga</label>
            <input type="text" id="price" name="price" required />
          </div>
          <div>
            <label for="stock">Stok Produk</label>
            <input type="number" id="stock" name="stock" required />
          </div>
          <div>
            <label for="category">Kategori</label>
            <select name="category" id="category">
              <option value="makanan" selected>Makanan</option>
              <option value="minuman">Minuman</option>
            </select>
          </div>
          <div>
            <label for="image">Pilih Foto Produk</label>
            <input @change="viewImage" type="file" accept="image/*" id="image" name="image" required />
            <img id="image-preview">
          </div>
          <hr />
          <button class="btn btn-add">Tambah</button>
        </form>
      </main>
  </body>

  </html>